@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../font/Gilroy-Medium.woff') format('woff');
    font-style: normal;
    font-weight: normal;

}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../font/Gilroy-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;

}


*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h2 {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Manrope';
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;

    color: var(--text-color);
    background-color: var(--primary-color);
}

:root {
    --primary-color:#040C18;
   
  
}

[data-theme="light"] {
    --primary-color:rgb(128, 92, 156);
  
  
}
.container {
    width: 100%;
    max-width: 1270px;
    padding: 0 50px;
    margin: 0 auto;
}

.intro__container {
    width: 100%;
    max-width: 1370px;
    padding-left: 50px;
    margin-left: 100px;

}

.intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    margin-bottom: 100px;

}

.intro::before {
    content: "";
    position: absolute;
    left: -5%;
    top: -27%;
    width: 308px;
    height: 413px;
    z-index: -1;
    background: #0F6BCD;
    filter: blur(180px);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 100px;
}

.section__subtitle {
    position: relative;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Gilroy-Bold';
    color: #fff;
    margin-top: 15px;
}

.section__subtitle::before {
    content: "";
    display: block;
    width: 38px;
    height: 3px;
    position: absolute;
    top: -10px;
    left: 0;
    background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    font-family: 'Gilroy-Bold';
    color: #fff;
}

.logo__image {
    max-width: 671px;
}

.logo__img {
    width: 100%;
}

.logo--big {
    font-size: 38px;
}

.nav__items {
    font-family: 'Manrope';
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
}

.nav__items:hover {
    color: #AE67FA;
}

.header__button {
    display: flex;
    align-items: center;
}

.header__sign {
    text-decoration: none;
    font-family: 'Manrope';
    font-size: 18px;
    color: #fff;
    margin-right: 25px;
}

.header__sign:hover {
    color: #AE67FA;
}

.btn {
    display: inline-block;
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #FF4820;
    border: none;
    border-radius: 3px;
    padding: 16px 41px;
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(to right, #AE67FA, #F49867);
}

.btn--big {
    height: 100%;
}

.btn--transparent {
    padding: 20px 20px;
    background-color: transparent;
    border: 1px solid #fff;
}

.btn--black {
    background-color: #0e0e0e;
    border-radius: 50px;
}

.btn--black:hover {
    background: #fff;
    color: #0e0e0e;

}
   
       
.header__switcher {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  
  .header__switcher-item {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(195, 194, 194, 0.933);
    transition: 4s;
    border-radius: 34px; 
  }
  
  .header__switcher-item:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  
  input:checked + .header__switcher-item:before {
    transform: translateX(26px);
  }
  
  /* Pop-up */
.popup {
    position: absolute;
    top: -115%;
    right: 10%;
    opacity: 0;
    z-index: 100;
    width: 300px;
    padding: 20px 30px;
  background: linear-gradient(90deg, #AE67FA, #F49867);
  box-shadow: 3px 3px 5px 5px rgba(0,0,0,0.15);
  border-radius: 10px;
  transition:top 0ms ease-in-out 200ms,
             opacity 200ms ease-in-out 0ms;
  
}
.popup.active {
    opacity: 1;
    top:15%;
    transition: top 0ms ease-in-out 200ms,
    opacity 200ms ease-in-out 0ms;
}
.popup .close-btn {
    position: absolute;
    top: 5px;
    right: 15px;
width: 25px;
height: 20px;
background: transparent;
color:#fff;
font-size: 36px;
text-align: center;
line-height: 1.5;
border-radius: 15px;
cursor: pointer;
text-shadow: 2px 2px 2px #042C54;
}

.popup .close-btn__form h2 {
    text-align: center;
    color:#fff;
  margin: 10px 0px 20px;
  font-size: 24px;
  text-shadow: 2px 2px 2px #042C54;
}

.close-btn-form__element {
margin: 15px 0px;
}
.btn__elm {
    font-size: 16px;
    color:#fff;
    text-shadow: 2px 2px 2px #042C54;
}
.btn__elm-inner {
    margin-top:5px;
    display: block;
   width: 100%;
   padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;

}
.sign-up {
    padding: 20px 0 15px;
}
.btn__sign-up {
    width: 100%;
    height: 40px;
    border:none;
    outline: none;
    font-size: 16px;
    background: #FF4820;
    color:#fff;
    border-radius: 10px;
    cursor:pointer;
    
}
.btn__sign-up:hover {
    background:#F49867 ;
}

.close-btn__form-element a {
display: block;
font-size: 15px;
color: #fff;
text-decoration: none;

}

.close-btn__form-element a:hover {
    text-decoration: underline;
    color: #0e0e0e;
}

/* End pop-up */

.intro__wrapper {
    position: relative;
}

.intro__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.intro__items {

    display: flex;

}

.intro__bgr {
    width: 100%;
}

.intro__bgr::after {
    content: "";
    position: absolute;
    width: 308px;
    height: 413px;
    z-index: -1;
    top: 15%;
    right: 15%;

    background: #0F6BCD;
    filter: blur(180px);
}

.bgr__img {
    display: block;
    width: 100%;

}


.main__title {
    font-family: 'Manrope';
    letter-spacing: -0.04em;
    font-size: 62px;
    line-height: 1.4;
    font-weight: 800;
    background-color: #040C18;
    background-image: linear-gradient(90deg, #AE67FA, #F49867);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 33px;
}

.main__title--blue {
    background-image: linear-gradient(90deg, #0D88E8 19%, #F49867 80%);
}

.main__title--center {
    max-width: 821px;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 50px;
}

.intro__text {
    font-family: 'Manrope';
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    color: #81AFDD;
    padding-bottom: 35px;
    padding-right: 40px;
}

.form {
    display: flex;
    width: 100%;
    height: 73px;
    margin-bottom: 37px;

}

.input {
    width: 60%;
    font-family: 'Manrope';
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    color: #3D6184;
    height: 100%;
    background-color: #052D56;
    border: none;
    border-radius: 2px;
    outline: none;
}

input:hover,
input:focus {
    outline: 1px solid #AE67FA;
}

.intro__request {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Manrope';
    font-size: 12px;
    line-height: 1.5;
    font-weight: 500;
    color: #fff;
}

.request__image {
    margin-right: 10px;
}

.logo__image {
    padding: 25px 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.intro__logo {
    overflow: hidden;
    margin-bottom: 100px;
}

.intro__logo::after {
    content: "";
    display: block;

    position: absolute;
    width: 701px;
    height: 496px;
    right: -5%;
    bottom: 0;
    z-index: -1;
    background: #072D56;
    filter: blur(264px);
}

.section__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #042C54;
    padding: 50px 40px;
    margin-bottom: 150px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.section__container::before,
.section__container::after {
    content: "";
    position: absolute;
    width: 308px;
    height: 413px;
    background: #0F6BCD;
    filter: blur(120px);
    border-radius: 50%;
}

.section__container::before {
    left: -15%;
    top: -23%;
}

.section__container::after {
    right: -15%;
    bottom: -21%;
}

.section__header {

    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.subtitle__container {
    width: 65%;
}

.section__main {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    width: 100%;
    padding-bottom: 50px;
}

.section__text {
    font-family: 'Manrope';
    font-size: 16px;
    line-height: 1.8;
    font-weight: 500;
    color: #81AFDD;
    padding: 0;
    z-index: 2;
    padding-bottom: 20px;
}

.section__text:last-child {
    padding-bottom: 0;
}

.section__text p {
    margin: 0;
}

.section__title {
    font-family: 'Manrope';
    font-size: 34px;
    line-height: 1.4;
    font-weight: 800;
    background-color: #040C18;
    background-image: linear-gradient(90deg, #AE67FA, #F49867);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 25px;
}

.link {
    text-decoration: none;
    color: #FF8A71;
    font-family: 'Manrope';
    font-size: 16px;
}

.section__link {
    padding-bottom: 5px;
}

.link:hover {
    color: #AE67FA;
}

.link--blue {
    color: #71E5FF;
}

.link--white {
    color: #fff;
}

.link--white:hover {
    color: #0DE0E8;
}

.section__items {
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.section__inner {
    width: 31%;
}
.button {
    position: relative;
}
.active::before {
    content:'Clicked!';
    position: absolute;
   top: -50%;
   right: 30%;
   font-size: 16px;
font-weight: bold;
border: 1px solid #ccc;
padding: 3px;
background-color: rgb(228, 191, 217);
color:#0e0e0e;
}

.future {
    position: relative;
}

.future::after {
    content: "";
    position: absolute;
    width: 308px;
    height: 413px;
    background: #0F6BCD;
    filter: blur(220px);
    border-radius: 50%;
    top: -10%;
    left: -5%;
}

.future__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

}

.future__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
}

.future__into {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 17%;
}

.feature__container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 100px;
}

.feature__items {
    display: flex;
    flex-direction: column;

}

.feature__image {
    max-width: 546px;
}

.feature__img {
    width: 100%;
}

.register__container {
    display: flex;

    flex-direction: column;
    padding: 25px 25px;
    background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
    margin-bottom: 150px;
    border-radius: 10px;
}

.register__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 25px;
}

.register__subtitle {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
    color: #0e0e0e;
    padding-bottom: 20px;
}

.register__title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 1.8;
    color: #0e0e0e;
    padding-bottom: 20px;
}

.gpt__container {
    display: flex;
    margin-bottom: 100px;
    width: 100%;
    justify-content: space-between;
}

.gpt__item-full {
    display: flex;
    flex-direction: column;
    width: 35%;
    background-color: #042C54;
    border-top-left-radius: 40px;
}

.gpt__item-full:hover {
    box-shadow: 8px 8px 8px rgba(13, 224, 232, 0.5);
}

.gpt__item {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 45%;
    background-color: #042C54;
    border-top-left-radius: 40px;
}

.gpt__item:hover {
    box-shadow: 8px 8px 8px rgba(13, 224, 232, 0.5);
}

.gpt__items {
    padding: 5px 10px;

}

.gpt__items-full {
    width: 90%;
    padding: 20px 20px;
}

.gpt__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    max-width: 60%;
}

.gpt__content-full {
    width: 100%;
    padding-bottom: 130px;
}

.gpt__content {
    width: 100%;
    padding-bottom: 15px;
}

.gpt__title-full {

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 1.5;
    color: #fff;

}

.gpt__title {

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 1.5;
    color: #fff;

}

.gpt__date {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    color: #fff;
    padding-bottom: 10px;
}

.gpt__img {
    width: 100%;
}

.footer {
    width: 100%;
    background-color: #031B34;
}

.footer__button {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding: 20px 30px;
}

.footer__content {
    max-width: 168px;

}

.footer__text {
    font-family: 'Gilroy-Medium';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    color: #fff;
}

.footer__inner {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer__items {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.footer__subtitle {
    margin-bottom: 35px;
    font-family: 'Gilroy-Bold';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
}

.footer__item {
    text-decoration: none;
    margin-bottom: 20px;

    cursor: pointer;

    font-family: 'Gilroy-Medium';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    color: #fff;
}

.footer__items a:hover {
    text-decoration: underline;
}

.footer__copyright {
    text-align: center;
    font-family: 'Gilroy-Medium';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    color: #fff;
    padding-bottom: 50px;
    margin: 0;


}

@media (max-width:1458px) {
    .intro__container {
        margin: 0 auto;
    }
}

@media (max-width:1273px) {


    .intro__text {
        font-size: 18px;

    }

    .main__title {
        font-size: 50px;
    }

    .form {

        height: 63px;
    }

    .btn {
        padding: 10px 25px;
        font-size: 16px;
    }

    .section__title {
        font-size: 30px;
    }

    .gpt__content {
        padding-bottom: 8px;
    }

    .gpt__date {
        font-size: 10px;
    }

    .gpt__title-full {
        font-size: 18px;

    }

    .gpt__title {
        font-size: 14px;
    }

    .link {
        font-size: 14px;
    }
}

@media (max-width:999px) {

    .header__inner {
        margin-bottom: 60px;
    }

    .intro__text {
        font-size: 16px;
        padding-bottom: 15px;

    }

    .nav__items {
        font-size: 14px;
        margin: 0 7px;
    }

    .header__sign {
        font-size: 16px;
    }

    .main__title {
        font-size: 40px;
        padding-bottom: 20px;
    }

    .form {

        height: 53px;
        margin-bottom: 15px;
    }

    .btn {
        padding: 8px 10px;
        font-size: 14px;
    }

    .section__title {
        font-size: 26px;
    }

    .section__subtitle {
        font-size: 18px;
    }

    .input {
        font-size: 14px;
    }

}

@media (max-width:796px) {

    .logo {
        font-size: 18px;
    }

    .header__inner {
        padding-top: 30px;
        margin-bottom: 35px;
    }

    .nav__items {
        display: none;
    }

    .intro__text {
        font-size: 16px;
        padding-bottom: 15px;

    }

    .header__sign {
        font-size: 16px;
    }

    .main__title {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .section__header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .section__title {
        font-size: 26px;
    }

    .section__text {
        font-size: 14px;
    }

    .gpt__content {
        padding-bottom: 8px;
    }

    .gpt__date {
        font-size: 10px;
    }

    .gpt__title-full {
        font-size: 16px;

    }

    .gpt__title {
        font-size: 12px;
    }

    .link {
        font-size: 12px;

    }

    .link--white {
        padding-bottom: 10px;
    }
}

@media (max-width:675px) {
    .intro {
        margin-bottom: 30px;
    }

    .intro__items {
        flex-wrap: wrap;
    }
.intro__inner {
    padding-right: 50px;
}
    .intro__text {
        font-size: 14px;
        padding-bottom: 15px;

    }

    .intro__logo {
        margin-bottom: 70px;
        padding-top: 20px;
    }

    .intro__bgr {
        width: 70%;
        margin: 0 auto;
        padding-right: 50px;
    }

    .header__sign {
        font-size: 12px;
    }

.popup {
    width: 200px;
    padding: 20px 20px;
}

    .btn {
        font-weight: 500;

    }

    .section__items {
        flex-wrap: wrap;

    }

    .section__inner {
        width: 100%;
        margin-bottom: 20px;
    }

    .section__title {
        font-size: 16px;
    }

    .section__subtitle {
        font-size: 14px;
    }

    .section__text {
        font-size: 12px;
    }

    .feature__container {
        display: block;

    }

    .future__container {
        display: block;
    }

    .future__inner {
        width: 100%;
    }

    .future__into {
        margin: 30px 0;
        font-size: initial;
        width: 100%;
    }

    .future__inner {
        width: 100%;
    }

    .gpt__container {
        flex-wrap: wrap;
    }

    .gpt__wrapper {
        max-width: 100%;
    }

    .gpt__item {


        margin: 20px 0;
    }

    .gpt__item-full {
        width: 100%;
    }

    .gpt__content {
        padding-bottom: 8px;
    }

    .gpt__date {
        font-size: 10px;
    }

    .gpt__title-full {
        font-size: 18px;

    }

    .gpt__title {
        font-size: 14px;
    }

    .link {
        font-size: 14px;
    }

    .footer__container {
        flex-direction: column;
    }

    .footer__inner {
        margin-top: 40px;
        width: 100%;
    }
}
@media (max-width:360px)  {

.header__switcher {
    display: none;
}
}